In [1]:
# 4장
"""
mysql -u root -p
CREATE USER 'dsuser'@'localhost' IDENTIFIED BY 'badpassw0rd';
CREATE DATABASE dsdb;
GRANT ALL ON dsdb.* TO 'dsuser'@'localhost';
mysql -u dsuser -p dsdb
---------------------------------------
USE dsdb;
CREATE TABLE employee (empname TINYTEXT, salary FLOAT, hired DATE);
---------------------------------------
DROP TABLE employee;
---------------------------------------
CREATE TABLE employee (id INT PRIMARY KEY AUTO_INCREMENT,
updated TIMESTAMP, empname TINYTEXT NOT NULL, salary FLOAT NOT NULL, hired DATE);
---------------------------------------
ALTER TABLE employee ADD INDEX(hired);
---------------------------------------
INSERT INTO employee VALUES(NULL,NULL,"John Smith",35000,NOW());
SHOW WARNINGS;
INSERT INTO employee VALUES(NULL,NULL,"John Smith",35000,NOW());
INSERT IGNORE INTO employee VALUES(NULL,NULL,"John Smith",35000,NOW());
---------------------------------------
-- 모든 최근 입사자의 임금을 리셋한다.
UPDATE employee SET salary=35000 WHERE hired=CURDATE();
-- John Smith의 임금을 인상한다.
UPDATE employee SET salary=salary+1000 WHERE empname="John Smith";
---------------------------------------
SELECT empname,salary FROM employee WHERE empname="John Smith";
SELECT empname,salary FROM employee;
SELECT*FROM employee WHERE hired>= '2000-01-01' ORDER BY salary DESC;
---------------------------------------
SELECT(hired>'2001-01-01') AS Recent, AVG (salary) FROM employee
GROUP BY (hired>'2001-01-01');
---------------------------------------
SELECT AVG(salary),MIN(hired),MAX(hired) FROM employee
GROUP BY YEAR(hired)
HAVING MIN(hired)>'2001-01-01';
---------------------------------------
-- 테이블을 만들고 자료를 재워 넣는다.
CREATE TABLE position (eid INT, description TEXT);
INSERT INTO position (eid,description) VALUES (6,'Imposter'),
  (1,'Accountant'),(4,'Programmer'),(5,'President');
ALTER TABLE position ADD INDEX(eid);
-- 결합한 데이터를 불러온다.
SELECT employee.empname,position.description
FROM employee,position WHERE employee.id=position.eid
ORDER BY position.description;
---------------------------------------
"""

'\nmysql -u root -p\nCREATE USER \'dsuser\'@\'localhost\' IDENTIFIED BY \'badpassw0rd\';\nCREATE DATABASE dsdb;\nGRANT ALL ON dsdb.* TO \'dsuser\'@\'localhost\';\nmysql -u dsuser -p dsdb\n---------------------------------------\nUSE dsdb;\nCREATE TABLE employee (empname TINYTEXT, salary FLOAT, hired DATE);\n---------------------------------------\nDROP TABLE employee;\n---------------------------------------\nCREATE TABLE employee (id INT PRIMARY KEY AUTO_INCREMENT,\nupdated TIMESTAMP, empname TINYTEXT NOT NULL, salary FLOAT NOT NULL, hired DATE);\n---------------------------------------\nALTER TABLE employee ADD INDEX(hired);\n---------------------------------------\nINSERT INTO employee VALUES(NULL,NULL,"John Smith",35000,NOW());\nSHOW WARNINGS;\nINSERT INTO employee VALUES(NULL,NULL,"John Smith",35000,NOW());\nINSERT IGNORE INTO employee VALUES(NULL,NULL,"John Smith",35000,NOW());\n---------------------------------------\n-- 모든 최근 입사자의 임금을 리셋한다.\nUPDATE employee SET salary=35000 WHERE hired=CURDATE();\n-- John Smith의 임금을 인상한다.\nUPDATE employee SET salary=salary+1000 WHERE empname="John Smith";\n---------------------------------------\nSELECT empname,salary FROM employee WHERE empname="John Smith";\nSELECT empname,salary FROM employee;\nSELECT*FROM employee WHERE hired>= \'2000-01-01\' ORDER BY salary DESC;\n---------------------------------------\nSELECT(hired>\'2001-01-01\') AS Recent, AVG (salary) FROM employee\nGROUP BY (hired>\'2001-01-01\');\n---------------------------------------\nSELECT AVG(salary),MIN(hired),MAX(hired) FROM employee\nGROUP BY YEAR(hired)\nHAVING MIN(hired)>\'2001-01-01\';\n---------------------------------------\n-- 테이블을 만들고 자료를 재워 넣는다.\nCREATE TABLE position (eid INT, description TEXT);\nINSERT INTO position (eid,description) VALUES (6,\'Imposter\'),\n  (1,\'Accountant\'),(4,\'Programmer\'),(5,\'President\');\nALTER TABLE position ADD INDEX(eid);\n-- 결합한 데이터를 불러온다.\nSELECT employee.empname,position.description\nFROM employee,position WHERE employee.id=position.eid\nORDER BY position.description;\n---------------------------------------\n'

In [2]:
import pymysql # mysql database test
conn = pymysql.connect(host="localhost", port=3306,
  user="madang", passwd="madang", db="madang")
cur = conn.cursor()
#---------------------------------------
query = '''
SELECT bookname
FROM book
ORDER BY bookname
'''
n_rows = cur.execute(query)
#---------------------------------------
results = list(cur.fetchall())
results
#---------------------------------------

[('Olympic Champions',),
 ('골프 바이블',),
 ('스포츠과학',),
 ('야구를 부탁해',),
 ('야구의 추억',),
 ('역도 단계별기술',),
 ('올림픽 이야기',),
 ('축구아는 여자',),
 ('축구의 역사',),
 ('축구의 이해',),
 ('피겨 교본',)]

In [3]:
import pymongo as mongo # mongo database 테스트
# 기본 클라이언트 설정
client1 = mongo.MongoClient()
# 호스트와 포트를 지정
client2 = mongo.MongoClient("localhost", 27017)
# URL로 호스트와 포트를 지정
client3 = mongo.MongoClient("mongodb://localhost:27017/")
#---------------------------------------
person1 = {"empname" : "John Smith", "dob" : "1957-12-24"}
person2 = {"_id" : "XVT162", "empname" : "Jane Doe", "dob" : "1964-05-16"}
person_id1 = people.insert_one(person1).inserted_id
person_id1
#---------------------------------------
# 새로운 “_id” 필드가 생겼다!
person1
#---------------------------------------
#  _id 키를 명확히 지정했으므로 키가 자동 생성되지 않는다.
person_id2 = people.insert_one(person2).inserted_id
person_id2
#---------------------------------------
persons = [{"empname" : "Abe Lincoln", "dob" : "1809-02-12"}, {"empname" : "Anon I. Muss"}]
result = people.insert_many(persons)
result.inserted_ids
#---------------------------------------
everyone = people.find()
list(everyone)
#---------------------------------------
list(people.find({"dob" : "1957-12-24"}))
#---------------------------------------
people.find_one()
people.find_one({"empname" : "Abe Lincyoln"}) 
people.find_one({"_id" : "XVT162"})
#---------------------------------------
people.count()
people.find({"dob": "1957-12-24"}).count()
people.find().sort("dob")
result = people.delete_many({"dob" : "1957-12-24"}) 
result.deleted_count

NameError: name 'people' is not defined